<div class="container">
	 <div class="list-group" ng-controller='StoreCtrl as store'>
		 <div class="list-group-item" ng-show='!store.product.soldOut' ng-repeat='product in store.products'>
		    <h3>
		        {{product.name}}
		    <em class="pull-right">{{product.price | currency}}</em>
		    </h3>
		    <button ng-show='product.canPurchase'>Add to Cart</button>
		    
		      <!-- Image Gallery  -->
		    <product-gallery></product-gallery>
		     <product-tabs></product-tabs>
		</div>
	</div>
</div>